// @import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

@fg: #fafafa;
@bg: #111;
@indent: 7em;

* {
  margin: 0;
  padding: 0;
  border: none;
}

html {
  height: 100%;
  line-height: 1em;
  background-color: @bg;
  color: @fg;

  font-size: 1em;

  @media (min-width: 40em) {
    font-size: 1.3em;
  }

  font-family: 'Share Tech Mono', monospace;
}

body {
  height: 100%;

  .window {
    display: none;

    &.active {
      display: block;
    }

    ul {
      display: table;
      list-style: none;

      padding: 3em 1em 4em;

      li {
        display: table-row;

        > span, > pre {
          white-space: pre-wrap;
          display: table-cell;

          &.identifier {
            width: @indent;
            text-align: right;
          }

          &.content {
            padding-left: .7em;
          }
        }

        &.status {
          .identifier {
            color: @fg;

            &::before, &::after {
              content: '-';
              color: #66d;
            }
          }

          .content {
            opacity: .6;
          }
        }
        &.msg {
          .identifier {
            &::before {content: '<'}
            &::after {content: '> '}
          }

          &.server {
            .identifier {
              color: #d66;
            }
          }
          
          &.client {
            opacity: .6;

            .identifier {
              color: #6dd;
            }
          }
        }
      }
    }
  }

  #tabs {
    display: none;
    list-style: none;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 0 1em;
    font-size: .8em;

    li {
      border-radius: 0 0 .2em .2em;
      padding: .5em;
      display: inline-block;
      cursor: pointer;

      &.active {
        background-color: @fg;
        color: @bg;
        box-shadow: 0 0 .5em @bg;
      }
    }
  }

  form#input {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: .5em 1em;
    background-color: @bg;
    box-shadow: 0 0 1em #000;
    background-color: #333;
    display: none;

    input {
      font-family: 'Share Tech Mono', monospace;
      font-size: 1em;
      color: @fg;
      width: 100%;
      height: 2em;
      background-color: #333;

      &:focus {
        outline: none;
      }
    }
  }
}
