@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
* {
  margin: 0;
  padding: 0;
  border: none;
}
html {
  height: 100%;
  background-color: #111;
  color: #fafafa;
  font-size: 1.3em;
  font-family: 'Share Tech Mono', monospace;
}
body {
  height: 100%;
}
body #messages {
  padding: 1em;
  list-style: none;
}
body #messages li .nick {
  display: inline-block;
  width: 5em;
  text-align: right;
}
body #messages li .nick::before {
  content: '<';
}
body #messages li .nick::after {
  content: '>';
}
body #messages li.local {
  opacity: .6;
}
body form {
  position: fixed;
  bottom: 0;
  width: 100%;
}
body form input {
  width: 100%;
  height: 2em;
}
