{% extends "base.html" %}

{% block content %}
  <ul id="tabs">
    <li class="active" data-target="channel">{{ channel_name }}</li>
    <li data-target="query">{{ foil_name }}</li>
  </ul>

  <section class="window active enabled" id="channel">
    <ul>
    </ul>
  </section>

  <section class="window" id="query">
    <ul>
    </ul>
  </section>

  <form id="input">
    {% csrf_token %}
    <input type="text" id="prompt" placholder="say something">
  </form>

  {% verbatim %}
    <script id="msg" type="text/x-handlebars-template">
      <li class="msg {{origin}}">
        <span class="identifier">{{nick}}</span>
        <pre class="content">{{content}}</pre>
      </li>
    </script>

    <script id="status" type="text/x-handlebars-template">
      <li class="status">
        <span class="identifier">!</span>
        <pre class="content">{{content}}</pre>
      </li>
    </script>
  {% endverbatim %}

  <script>
    var postMessageURL = '{{ post_message_url }}';
    var setNickURL = '{% url "chat:set-nick" %}';
    var channelName = '{{ channel_name }}';
    var foilName = '{{ foil_name }}';
  </script>
{% endblock %}
